bank-full.csv
Assignment-05&06-Decision-Tree/cardio_train.csv
Assignment-05&06-Decision-Tree/iris.csv
Assignment-05&06-Decision-Tree/Nouran_Khatab_A6_report.docx
Assignment-05&06-Decision-Tree/id3.py
Assignment-04-SVM/fruit_data_with_colors.txt
a8/

